/*dotted border around element when clicked
focus on text input when clicked on*/

ul {
	list-style: none;
}

.key {
	margin: 0px;
	font-weight: bold;
}

.property {
	padding: 2px;
	font-size: .85rem;
}

.personbox:nth-child(even){
	background: lightyellow;
}

.personbox:nth-child(odd){
	background: lightblue;
}

.personbox {
	width: 75%;
	margin: 0 0 0 10%;
}

img {
	width: 25%;
	height: 25%;
	margin: 0 0 0 33%;	
}

.caged {
	border: 2px black dotted;
}