/*dotted border around element when clicked
evens are yellow
odds are light blue
focus on text input when clicked on*/

ul {
	list-style: none;
}

h2 {
	margin: 0px;
}

li {
	padding: 2px;
}

.personbox:nth-child(even){
	background: lightyellow;
}

.personbox:nth-child(odd){
	background: lightblue;
}

.personbox {
	width: 75%;
	margin: 0 0 0 10%;
}